<div ng-controller="OrderController">
    <h2>Create Order</h2>
    <table>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="Product in Products">
            <td>{{Product.SKU}}</td>
            <td>{{Product.Name}}</td>
            <td>{{Product.Description}}</td>
            <td>{{Product.Price}}</td>
        </tr>
    </table>
    <form name="myForm">
        <p>Note that invalid styling only applies if invalid and dirty</p>
        <md-input-container class="md-block">
          <label>Favorite Number</label>
          <md-select name="myModel" ng-model="myModel" required="">
            <md-option value="1">One</md-option>
            <md-option value="2">Two</md-option>
          </md-select>
          <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
            <div ng-message="required">Required</div>
          </div>
        </md-input-container>
  </form>
</div>

