<div ng-controller="CreateOrderController">
    <h1>Create Order</h1>
    <select ng-model="selectedUser">
        <option ng-repeat="Customer in Customers" ng-model="selectedCustomerModel">
            {{Customer.First_Name}} {{Customer.Last_Name}}
        </option>
    </select>
 
    <h2>Products</h2>
    <table>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr ng-repeat="Product in Products" ng-click="setSelected($index)">
            <td>{{Product.SKU}}</td>
            <td>{{Product.Name}}</td>
            <td>{{Product.Description}}</td>
            <td>{{Product.Price}}</td>
        </tr>
    </table>
    <br/>
    <div>
        <h2>Current Order</h2>
        {{SelectedProduct.Name}}
    </div>
    <div>
        <div layout="row">
            <button>Clear</button>
            <button ng-click="CreateOrder()">Save</button>
        </div>
    </div>
</div>

