<h2>Customers</h2>
<div ng-controller="CustomerController">
    <div style="font-weight: bold">
        Contact Details
    </div>
    <table>
        <tr>
            <td>First Name :</td>
            <td>{{Customer.First_Name}}</td>
        </tr>
        <tr>
            <td>Last Name : </td>
            <td>{{Customer.Last_Name}}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{Customer.Phone}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{Customer.Address}}</td>
        </tr>
    </table>
</div>
