<div ng-controller="CustomerController">
    <h2>Customers</h2>
    <div style="font-weight: bold">
        Contact Details
    </div>
    <table >
        <tr ng-repeat="Customer in Customers">
            <td>{{Customer.First_Name}}</td>
            <td>{{Customer.Last_Name}}</td>
            <td>{{Customer.Phone}}</td>
            <td>{{Customer.Address}}</td>
        </tr>
    </table>
</div>