<div ng-controller="OrdersController">
    <h2>Orders</h2>
    <table>
        <tr ng-repeat="Order in Orders">
            <td>{{Order.Order_ID}}</td>
            <td>{{Order.Customer_ID}}</td>
            <td>{{Customer.Order_Date}}</td>
        </tr>
    </table>
</div>

