<div ng-controller="OrdersController">
    <h2>Orders</h2>
    <md-table-container>
        <table>
            <thead md-head>
            <tr colspan="4">
                <th md-column>Order ID</th>
                <th md-column>First Name</th>
                <th md-column>Last Name</th>
                <th md-column>Order Date</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-repeat="Order in Orders">
                <td md-column>{{Order.Order_ID}}</td>
                <td md-column>{{Order.First_Name}}</td>
                <td md-column>{{Order.Last_Name}}</td>
                <td md-column>{{getTimestamp(Customer.Order_Date) | date:'dd/MM/yyyy HH:mm a'}}</td>
                <td>
                    <md-button ng-click="getDetails($index)">Details</md-button>
                </td>
                <td>
                    <md-button ng-click="removeOrder($index)">Delete</md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <br/>
    <md-table-container>
        <table>
            <thead md-head>
            <tr>
                <th md-column>Product SKU</th>
                <th md-column>Amount</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-repeat="Order_Detail in Order_Details">
                <td md-column>{{Order_Detail.Product_SKU}}</td>
                <td md-column>{{Order_Detail.Amount}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

</div>

